@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  max-height: 15vh;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/layer-1.svg");
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-sm text-white transition-all hover:bg-white hover:text-black;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl text-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-red-700 via-orange-600 to-amber-400 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-500 sm:text-xl text-center max-w-2xl;
}






